.title {
    text-align: center;
}

.explaination {
    color:hsl(30, 100%, 70%);
    line-height: 0px;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

#home {
    background-color:hsl(200, 100%, 98%);
}

.img,
.main-button {
    display: block;
    margin: 0 auto;
}

.main-button {
    background-color: hsl(30, 100%, 70%);
    font-weight: bold;
    border: 5px;
    padding: 10px;
}