<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bunny</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

<body style="background-color:hsl(303, 100%, 96%);">
    <h1 class="title">Meet the bunny!</h1>
    <iframe width="850" height="500" src="https://codehs.com/sandbox/lilkev12/pet-gamebunny/embed/?display_mode=default&read_only=True&show_file_tree=False" frameborder="0" allowfullscreen class="video-iframe"></iframe>
    <h2 class="section-title">Background</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h2 class="section-title">Tips to Take Care</h2>
    <ul>
      <li>When cleaning the cages, put the bunnies in the same place</li>
      <li>If you have a male and female bunny, keep them seperate</li>
      <li>Throw out the old bedding in the cage (just enough to fill the bottom) and disinfect it with wipes or spray</li>
      <li>Give each bunny 1/2 a cup of pellet food and hay each</li>
      <li>Constant supply of fresh water needed</li>
      <li>Grass hay should be available at all times</li>
      <li>Sign up for routine checkups</li>
      <li>Rabbits enjoy sweets but don't give too many</li>
      <li>Give them tunnels and more to keep them entertained</li>
    </ul>
</body>
</html>