<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cat</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

<body style="background-color:hsl(0, 0%, 92%);">
    <h1 class="title">Meet the cat!</h1>
    <iframe width="850" height="500" src="https://codehs.com/sandbox/id/cat-WEE1kJ/embed/?display_mode=default&read_only=True&show_file_tree=False" frameborder="0" allowfullscreen class="video-iframe"></iframe>
    <h2 class="section-title">Background</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h2 class="section-title">Tips to Take Care</h2>
    <ul>
      <li>Groom your cat regularly</li>
      <li>Provide fresh water 24/7 to avoid common health issues</li>
      <li>Cats usually prefer moving water, like a small fountain</li>
      <li>Have enough litter boxes for your cat - get the amount of cats you have + 1 (so if you have 2 cats, get 3 litter boxes)</li>
      <li>Get a scratchpost so the cat doesn't destroy the furniture</li>
      <li>When in a car, keep the cat in a cat carrier</li>
      <li>Spraying or neutering your cat not only prevents babies, it also prevents certain diseases</li>
      <li>Visit the vet at least once a year</li>
    </ul>
</body>
</html>