<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Chicken</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

<body style="background-color:hsl(0, 0%, 92%);">
    <h1 class="title">Meet the chicken!</h1>
    <iframe width="850" height="500" src="https://codehs.com/sandbox/id/chicken-9kKrXV/embed/?display_mode=default&read_only=True&show_file_tree=False" frameborder="0" allowfullscreen class="video-iframe"></iframe>
    <h2 class="section-title">Background</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h2 class="section-title">Tips to Take Care</h2>
    <ul>
      <li>When cleaning the coop (about once a month), remove the old wood shavings, sweep out the cage, and scoop up any bedding or poop from the food</li>
      <li>Scatter dried mealworms all around the cage for them to eat</li>
      <li>Make a minimum of 2 - 3 square feet per chicken</li>
      <li>Make 1 nexting box per 3 hens to lay their eggs, but the more the better</li>
      <li>Let them free range to keep them happier, have to buy less store bought grit (hard substance that helps with digestion and keeps bones + egg shells strong), contain illnesses, and more</li>
      <li>Even if they're free range, provide ample egg shell grit</li>
      <li>They eat a varied diet but avoid chocolate, avocados, onions, garlic, citrus fruits, and highly processed or salty foods</li>
      <li>Check the chicken's health frequently</li>
    </ul>
</body>
</html>