<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dog</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

<body style="background-color:hsl(51, 76%, 69%);">
    <h1 class="title">Meet the dog!</h1>
    ​
<iframe width="850" height="500" src="https://codehs.com/sandbox/id/dog-vTGUPH/embed/?display_mode=default&read_only=True&show_file_tree=False" frameborder="0" allowfullscreen class="video-iframe"></iframe>
    <h2 class="section-title">Background</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h2 class="section-title">Tips to Take Care</h2>
    <ul>
      <li>DONT FEED YOUR DOG CHOCOLATE</li>
      <li>Dogs need lots of walks, make sure to be ready to take them out daily</li>
      <li>Dogs aren't like cats and dont poop in a litterbox, they do it outside. Make sure someone is around to pick up after it</li>
      <li>Make sure to train your dog so it doesn't behave badly</li>
      <li>Have lots of space for it to jump around without ruining the house</li>
      <li>Groom the dog frequently to keep them clean and pest free</li>
      <li>Moniter food consumption so that the dog doesn't become too fat</li>
      <li>Schedule annual checkups with vet and vaccinate</li>
      <li>Brush the dog's teeth</li>
    </ul>
</body>
</html>