<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Fish</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

<body style="background-color:hsl(53, 84%, 81%);">
    <h1 class="title">Meet the fish!</h1>
    <iframe width="850" height="500" src="https://codehs.com/sandbox/id/fish-fgYrqE/embed/?display_mode=default&show_file_tree=False" frameborder="0" allowfullscreen class="video-iframe"></iframe>
    <h2 class="section-title">Background</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h2 class="section-title">Tips to Take Care</h2>
    <ul>
      <li>Monitor changes for illnesses (like swimming weird)</li>
      <li>Moniter water quality, make sure there are no fish bullies, and don't make loud noices or sudden temperature changes</li>
      <li>Make sure you have a filter depending on the size of the tank, and a tank depending on the fish type</li>
      <li>You can use mechanical filtration, biological filtration, or chemical filtration</li>
      <li>Substrates, the loose material on the bottom of the tank, is needed. Sand is the better choice since there is no room for contaminants to build up within crevaces</li>
      <li>Include plants for the fish to play around. Plastic and natural can be used but natural is better due to health benefits</li>
      <li>Add decorates for the fish to hang out in but be careful with overcrowding</li>
      <li>Avoid taking fish out as much as possible but the tank should be cleaned every 1 or 2 weeks</li>
      <li>Fish flakes are best for smaller fish and pellets are best for bottom feeders</li>
      <li>Feed them lots of protein and some fat too</li>
    </ul>
</body>
</html>