<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Guinea Pig</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

<body style="background-color:hsl(36, 71%, 75%);">
    <h1 class="title">Meet the guinea pig!</h1>
<iframe width="850" height="500" src="https://codehs.com/sandbox/lilkev12/guinea-pig/embed/?display_mode=default&read_only=True&show_file_tree=False" frameborder="0" allowfullscreen class="video-iframe"></iframe>
    <h2 class="section-title">Background</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h2 class="section-title">Tips to Take Care</h2>
    <ul>
      <li>When replacing bedding, put your guinea pigs in a carrier, then dump the old bedding, wipe out the inside of the cage, and replace the bedding</li>
      <li>Give 1/2 cup of food per guinea pig</li>
      <li>Play with them gently, they startle and get injured easily</li>
      <li>Annual checkups are recommended</li>
      <li>Make sure they have enough vitamin C</li>
      <li>Give an unlimited amount of green grass hay but limit other greens since they can cause health issues</li>
      <li>For a single guinea pig, the cage should be a mimimum of 24"L, 24"W, 15"H</li>
      <li>For multiple, a minimum floor size of 24" by 36"</li>
      <li>Aspen or kiln-dried pine shaves are great, inexpensive bedding</li>
    </ul>
</body>
</html>