<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"> <!--../static/styles.css-->
  </head>

  <body style="background-color:hsl(198, 100%, 68%);">
    <h1 class="title" style="color:hsl(30, 100%, 70%)">Welcome students!</h1>
    <p class="explaination">In this site, you will be learning about the different animals</p>
    <p class="explaination">in this class. Unfortunately, you can't touch them since you can</p>
    <p class="explaination">hurt them or yourself. Hopefully this interactive experience will</p>
    <p class="explaination">be just as fun. Happy learning!</p>
    <img src="../static/img/group-of-animals.jpg" alt="Image of a group of animals." style="display: block; margin: 0 auto"> <!--../static/group-of-animals.jpg-->


    <h1 class="title" style="color:hsl(30, 100%, 70%)">Instructions</h1>
    <p class="explaination">You'll have to follow a few steps before starting each game.</p>
    <ol style="font-size: 10px" >
      <li class="explaination list">Click on the settings button on the top left</li>
      <img src="../static/img/click_settings_button.png" alt="Image of cursor indicating to settings button." class="img" >
      <li class="explaination list">Scroll all the way down</li>
      <img src="../static/img/scroll_down.png" alt="Image of the bottom of settings." class="img">
      <li class="explaination list">Click on the switch labeled "Display Server Graphics Screen"</li>
      <img src="../static/img/activate_graphics.png" alt="Image of switch being clicked." class="img">
      <li class="explaination list">Click on the layout button on the bottom left</li>
      <img src="../static/img/click_layout_button.png" alt="Inage of cursor indicating to layout button." class="img">
      <li class="explaination list">Click on the button labeled "Fullscreen Graphics Output"</li>
      <img src="../static/img/activate_full_screen_graphics.png" alt="Image of cursor indicating to 'Full Graphics Output.' button" class="img">
      <li class="explaination list">Now you're ready to play the game!</li>
      <img src="../static/img/full_game.png" alt="Image of full game screen." class="img">
    </ol>


    <a href="{{ url_for('bunny') }}" style="text-decoration: none;">
      <button type="button" class="main-button">Bunny</button>
    </a>
    <a href="{{ url_for('chicken') }}" style="text-decoration: none;">
      <button type="button" class="main-button">Chicken</button>
    </a>
    <a href="{{ url_for('cat') }}" style="text-decoration: none;">
      <button type="button" class="main-button">Cat</button>
    </a>
    <a href="{{ url_for('dog') }}" style="text-decoration: none;">
      <button type="button" class="main-button">Dog</button>
    </a>
    <a href="{{ url_for('fish') }}" style="text-decoration: none;">
      <button type="button" class="main-button">Fish</button>
    </a>
    <a href="{{ url_for('guinea') }}" style="text-decoration: none;">
      <button type="button" class="main-button">Guinea Pig</button>
    </a>
    <a href="{{ url_for('parakeet') }}" style="text-decoration: none;">
      <button type="button" class="main-button">Parakeet</button>
    </a>
    <a href="{{ url_for('finch') }}" style="text-decoration: none;">
      <button type="button" class="main-button">Zebra Finch</button>
    </a>
    
    
  </body>
</html>