<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Parakeet</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

<body style="background-color:hsl(183, 85%, 95%);">
    <h1 class="title">Meet the parakeet!</h1>
    <iframe width="850" height="500" src="https://codehs.com/sandbox/lilkev12/parakeet/embed/?display_mode=default&read_only=True&show_file_tree=False" frameborder="0" allowfullscreen class="video-iframe"></iframe>
    <h2 class="section-title">Background</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h2 class="section-title">Tips to Take Care</h2>
    <ul>
      <li>Talk to them every day, they're very social</li>
      <li>The bird's habitat should be at least 18 inches in width, length, and height but always give them as much space possible</li>
      <li>Avoid wooden habitats or galvanized wire</li>
      <li>They need exposure to sunlight so take them outside once in a while</li>
      <li>Give the parakeet lots of toys to play with</li>
      <li>Put wet food, dry food, and water in all different bowls. If you have multiple parakeets, each should have their own bowl</li>
      <li>Give them cuttlebones, a great source of Calcium</li>
      <li>Only use chemicals approved for pets when cleaning cage</li>
    </ul>
</body>
</html>