<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Zebra Finche</title>
    <link rel="stylesheet" href="../styles.css">
  </head>

<body style="background-color:hsl(51, 100%, 92%);">
    <h1 class="title">Meet the zebra finche!</h1>
    <iframe width="850" height="500" src="https://codehs.com/sandbox/id/zebra-finches-0zgwqt/embed/?display_mode=default&read_only=True&show_file_tree=False" frameborder="0" allowfullscreen class="video-iframe"></iframe>
    <h2 class="section-title">Background</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h2 class="section-title">Tips to Take Care</h2>
    <ul>
      <li>Make sure you have at least two due to social nature</li>
      <li>Always give the finch access to food and clean water</li>
      <li>Give the bird a source of calcium like a chicken egg shell or sea shells</li>
      <li>The mimimum cage size is 24"W,16"H,16"L</li>
      <li>They love bathing so make sure the water dish is large enough to let them bathe in</li>
      <li>Perches are a must</li>
    </ul>
</body>
</html>